<h1>{{title}}</h1>

<a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>

<a routerLink="/admin" routerLinkActive="active">Admins</a>
<a routerLink="/pages" routerLinkActive="active">Pages</a>
<a routerLink="/rforms" routerLinkActive="active">Reactive Forms</a>
<a routerLink="/rxjs" routerLinkActive="active">RxJs</a>
<a routerLink="/github" routerLinkActive="active">GitHub</a>

<br>
<br>
<br>

<a routerLink="basic" routerLinkActive="active">Привязка</a>
<a routerLink="component" routerLinkActive="active">Компоненты</a>
<a routerLink="directive" routerLinkActive="active">Директивы</a>
<a routerLink="services" routerLinkActive="active">Сервисы</a>
<a routerLink="module" routerLinkActive="active">Работа с формами</a>
<a routerLink="rect" routerLinkActive="active">HTTP и взаимодействие с сервером</a>
<a routerLink="view" routerLinkActive="active">Angular view</a>
<a routerLink="animation" routerLinkActive="active">Анимация</a>

<router-outlet></router-outlet>