<p>RxJS Полный курс</p>
<p>{{mouseinfo}}</p>

<div class="container">
    <div id="problem">
        <input id="input" type="text">
        <button id="btn">Click</button>
        <button id="btnErase">Erase</button><br>
        <canvas id="canvas11" width="500" height="100" style="border: 1px solid #eeeeee"></canvas><br>
        <canvas id="canvas" width="500" height="100" style="border: 1px solid #eeeeee"></canvas><br>
        <canvas id="canvas22" width="500" height="100" style="border: 1px solid #eeeeee"></canvas><br>
        <button class="btn" id="interval">Показать с интервалом</button>
        <button class="btn" id="rxjs">Показать с RxJS</button>
        <div class="result"></div>
        <hr>
    </div>
</div>